*{
  margin: 1px;
  padding:1px;
  box-sizing: border-box;
}


/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.font-work-sans{
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Share style */
.display-flex{
  display: flex;
}


main{
  max-width: 1380px;
  margin: 0 auto;
}

main > section{
  margin-top: 100px;
}

.section-title{
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 20px;
  
}
.team-description{
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
}




/* color */
.dark1{
  color: #131313;
}
.dark2{
  color: #424242;
}
.dark3{
  color: #727272;
}

/* button */
.btn-primary{
  border-radius: 8px;
  background: #FF900E;
  padding: 20px 25px;
  border: none;
  color: #FFF;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;

}

/* navbar style */
.bg-color,footer{
  background-color: rgba(255, 144, 14, 0.1);

  
}
.brand{
  font-weight: 700;
  font-size: 2.5rem;
}
.navbar{
  
  justify-content: space-between;
  align-items: center;
  
  
}
.nav-links{
  
  
  
}
.nav-item{
  list-style: none;
  margin-right: 40px;
  

  
}
.nav-link{
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  
}
.navbar, .banner{
  max-width:1480px;
  margin: 0 auto;
  
}
/* header part */
.banner{

}

.banner-contect{
  max-width: 850px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom:50px;
  text-align: center;}
.banner-title{
  font-weight: 700;
  font-size: 3.5rem;}
.banner-description{
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 30px;
}
.banner-img{
  width: 100%;
} 



/* main part */

.teams{
  align-items: center;}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-contect{
  margin-left: 120px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
#quick-list2 {
  color: orange;
}


/* feature section */

.features{
  gap: 60px;
  margin-top: 100px;
  margin-bottom: 30px;
  
}
#features-section-title{
  border-left: 6px solid #FF900E;
  padding-left: 20px;
}

.features-card{
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  background: #FFF;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}

.features-card .feature-title{
  font-weight: 600;
  font-size: 1.5rem;
  
}
.architect-img img{
  width: 100%; 
  height: 89%;}
.half-width{
  width:100%;
  height:100%;
} 

#big-btn{
  border-radius: 10px;
  background-color: #FF900E;
  padding: 45px 40px;
  width: 250px;
  height: 140px;
  color: #FFF;
  margin-left:-43px;
  margin-top: -43px;
  cursor: pointer;
 
  
}
#big-btn-text{
  font-size: 2rem;
  font-weight: 700;
  
}

/* some facts */


.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.facts-description{
  max-width: 540px;
  
  
}
.fact-card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 220px;
  height:220px ;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  
} 

.fact-number{
  font-weight: 600;
  font-size: 2rem;
}
.fact-name{
  font-weight: 600;
  font-size: 1.2rem;
}


/* sponsors part */

.sponsor-info{
  text-align: center;
  max-width:1450px;
  margin-bottom:50px auto;
  
  /* border: 1px solid #FF900E; */
  
}
.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  margin-top: 50px;
}
.sponsor-company-img{
  filter: grayscale(100%);
}
/* footer part */

footer{
  max-width: 1400px;
  margin: 50px auto;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 10px;
  width: auto;
  height:60px;
}
.footer-description{
  font-weight: 400;
  font-size: 20px;
  margin-top: 15px;
}
/* RESPONSIVE MEDIA QUERY */


/* Mobile Device */
@media screen  and (max-width:576px) {
  .navbar,
 .nav-links, 
 .teams,
 .features
 {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-company
  {
    grid-template-columns: repeat(1, 1fr);}

    .facts-container{
      justify-items: center;
      gap: 20px;
    }
    .section-title{
      text-align: center;
      font-size: 2.5rem;
    }
    .team-description{
      text-align: center;
    }

    .team-contect{
      margin-left:20px;
     
    }
    .sponsor-company{
      gap: 30px; 
      grid-template-columns: repeat(1, 1fr);
    }
    #big-btn{
      margin-left:20px;
      margin-top: 20px;
    }
}

/* Tablet Device */
@media screen and (min-width:576px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .team-content{
    margin-left: 40px auto;
  }
  


  
}